/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.gem
*.rbc
.rspec_status
Gemfile.lock

# rspec failure tracking
.rspec_status

# Ignore built gems
*.gem

# Ignore bundler config
/.bundle

# Ignore all logfiles and tempfiles
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep